.image-10-icon,
.title-container-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.title-container-child {
  box-shadow: 40.5px -40.5px 40.5px rgba(165, 165, 165, 0.1) inset,
    -40.5px 40.5px 40.5px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(80.9px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.image-10-icon {
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: 6px;
  left: 0;
  width: 52px;
  height: 52px;
  z-index: 2;
}
.frame-textfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 63px;
  font-family: var(--font-arya);
  font-size: var(--font-size-base);
  color: var(--color-white);
  z-index: 2;
}
.image-10-parent {
  position: absolute;
  top: 31px;
  left: 40px;
  width: 400px;
  height: 272px;
  background-image: url(/public/image-10@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.title-container {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 40.5px -40.5px 40.5px rgba(165, 165, 165, 0.1) inset,
    -40.5px 40.5px 40.5px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(80.9px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 512px;
  height: 372px;
}
.check-white-1 {
  position: absolute;
  top: 221px;
  left: 362px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  z-index: 2;
}
.system-info {
  align-self: stretch;
  height: 401px;
  position: relative;
}
.system-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 542px;
  max-width: 100%;
}
.project-management-support,
.the-bot-monitors {
  position: relative;
  display: flex;
  align-items: center;
}
.project-management-support {
  margin: 0;
  height: 102px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.the-bot-monitors {
  width: 486px;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  max-width: 100%;
}
.support-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-1);
  max-width: 100%;
}
.feature-buttons {
  width: 454px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.feature-buttons,
.feature-card,
.feature-column,
.support-description {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.support-description {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xl);
  min-width: 361px;
}
.feature-card,
.feature-column {
  flex-direction: row;
}
.feature-card {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-152xl);
}
.feature-column {
  width: 1316px;
  align-items: flex-start;
  padding: 0 var(--padding-5xl) var(--padding-3xs-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-merriweather-sans);
}
@media screen and (max-width: 1300px) {
  .system-details {
    flex: 1;
  }
  .feature-card {
    gap: var(--gap-66xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .system-details {
    min-width: 100%;
  }
  .project-management-support {
    font-size: var(--font-size-13xl);
  }
  .feature-buttons {
    flex-wrap: wrap;
  }
  .support-description {
    min-width: 100%;
  }
  .feature-card {
    gap: var(--gap-24xl);
  }
}
@media screen and (max-width: 450px) {
  .project-management-support {
    font-size: var(--font-size-5xl);
  }
  .the-bot-monitors {
    font-size: var(--font-size-3xl);
  }
  .feature-buttons {
    gap: var(--gap-xl);
  }
  .feature-card {
    gap: var(--gap-2xl);
  }
}
