.frame-child2 {
  height: 167px;
  width: 1440px;
  position: relative;
  background-color: var(--color-midnightblue);
  display: none;
  max-width: 100%;
}

.exe-discord-bot-logo4 {
  height: 112px;
  width: 112px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}

.service-discord6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  color: white;
  font-weight: 900;
  font-family: inherit;
}

.service-discord-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}

.exe-discord-bot-logo-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}

.exe-discord-bot-logo-group {
  flex-direction: row;
  gap: var(--gap-2xs);
}

.login-component1 {
  width: 238px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xl);
  box-sizing: border-box;
}

.rectangle-container {
  background-color: var(--color-midnightblue);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-2xl) var(--padding-9xl) var(--padding-43xl);
  max-width: 100%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}

.header1,
.rectangle-container,
.separator {
  align-self: stretch;
  box-sizing: border-box;
}

.separator {
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-white);
}

.header1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-10xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-merriweather);
}

@media screen and (max-width: 975px) {
  .rectangle-container {
    padding-left: var(--padding-12xl);
    box-sizing: border-box;
  }
}